.rti-section {
  max-width: 1800px;
  /* allows wide government-style layout */
  width: 100%;
  /* fills most of screen */
  margin: auto;
  /* centers block */
  padding: 20px 40px;
  /* breathing space on sides */
  font-family: "Times New Roman", serif;
  color: #003366;
}



.main-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
  color: #004a99;
  margin: 25px 0;
}

.rti-block {
  max-width: 800px;
  margin: auto;
}

.officer {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 25px;
}

.info .label {
  font-size: 20px;
}

.info .name {
  font-size: 21px;
  font-weight: bold;
  margin-top: 3px;
}

.phone {
  text-align: left;
  font-size: 16px;
  padding-top: 6px;
}

.rti-link {
  margin: 20px 0;
}

.rti-link .icon {
  width: 18px;
  vertical-align: middle;
}

.rti-link a {
  margin-left: 5px;
  font-weight: bold;
  color: #0000cc;
  text-decoration: underline;
}

.address {
  text-align: center;
  font-size: 17px;
  line-height: 1.7;
}

/* -------- MOBILE -------- */
@media (max-width: 768px) {

  .officer {
    grid-template-columns: 100%;
  }

  .phone {
    padding-top: 4px;
  }

  .main-title {
    font-size: 18px;
  }

  .info .label {
    font-size: 15px;
  }

  .info .name {
    font-size: 16px;
  }

  .phone {
    font-size: 14px;
  }

  .address {
    font-size: 14px;
  }
}