.officer-card {
  margin: 30px 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  color: #020000eb;
}

.title {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #436123;
  margin-bottom: 8px;
}

.arrow {
  color: green;
  font-size: 20px;
  margin-right: 10px;
}

p {
  margin-left: 28px;
  line-height: 1.6;
  font-size: 16px;
}
