.secretary-section {
  font-family: 'Segoe UI', Arial, sans-serif;
  color: #222;
  margin: 40px;
}

/* Title */
h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: rgb(65, 161, 24);
}

/* Details container */
.secretary-details {
  display: flex;
  align-items: flex-start;
  margin-left: 25px;

}

/* Arrow icon */
.arrow {
  color: green;
  font-size: 22px;
  margin-right: 8px;
  line-height: 1.2;
}

/* Officer info text */
.info {
  font-size: 20px;
  line-height: 1.7;
}
