.image-container {
  text-align: center;
  margin-top: 30px;
}

.image-container img {
  width: 650px;       /* Resize image */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
