<div *ngIf="!hideLayout()">
  <div class="main-container">
    <div class="container">
      <nav class="navbar">
        <img src="assets/logo4.jpg" style="width: 100%; height: 200px;">

        <ul class="menu">
          <li routerLink="/home" style="cursor:pointer"><a>Home</a></li>

          <!-- ABOUT US -->
          <li class="dropdown">
            <a style="cursor:pointer">About Us</a>
            <ul class="dropdown-content">
              <li><a routerLink="about/about1" >Constitution of Election Commission</a></li>
              <li><a routerLink="about/about2">Powers & Functions</a></li>
              <li><a routerLink="about/about3">Organisation Chart</a></li>
              <li><a routerLink="about/about4">Officers on Special Duty</a></li>
              <li><a routerLink="about/about5">Co-Ordinators</a></li>
            </ul>
          </li>

          <!-- APPOINTMENTS -->
          <li class="dropdown">
            <a style="cursor:pointer" >Appointments</a>
            <ul class="dropdown-content">
              <li><a routerLink="app/app1">Co-operative Election Commissioner</a></li>
              <li><a routerLink="app/app2">Secretary of the Commission</a></li>
              <li><a routerLink="app/app3">Staff Election Officers</a></li>
              <li><a routerLink="app/app4">District Election Co-Ordinator</a></li>
              <li><a routerLink="app/app5">Election Observers</a></li>
              <li><a routerLink="app/app6">District Election Officers</a></li>
            </ul>
          </li>

          <!-- ELECTION PROGRAMMES -->
          <li class="dropdown">
            <a style="cursor:pointer">Election Programmes</a>
            <ul class="dropdown-content">
              <li><a routerLink="ep/ep1">Casual Vacancies 2022</a></li>
              <li><a routerLink="ep/ep2">Election-2013</a></li>
              <li><a routerLink="ep/ep3">Left Over Societies</a></li>
              <li><a routerLink="ep/ep4">Newly Registered Societies</a></li>
              <li><a routerLink="ep/ep5">Restored Societies</a></li>
              <li><a routerLink="ep/ep6">Casual Vacancies</a></li>
              <li><a routerLink="ep/ep7">Election-2018</a></li>
            </ul>
          </li>

          <!-- CIRCULARS -->
          <li class="dropdown">
            <a style="cursor:pointer">Circulars</a>
            <ul class="dropdown-content">
              <li><a routerLink="circulars/c1">Appointments</a></li>
              <li><a routerLink="circulars/c2">Training & Meeting</a></li>
              <li><a routerLink="circulars/c3">Reporting for Elections</a></li>
              <li><a routerLink="circulars/c4">Notification Publications</a></li>
              <li><a routerLink="circulars/c5">Election Programmes</a></li>
              <li><a routerLink="circulars/c6">Arrangements</a></li>
              <li><a routerLink="circulars/c7">Conduct of Elections</a></li>
              <li><a routerLink="circulars/c8">General</a></li>
              <li><a routerLink="circulars/c9">Reports & Formats</a></li>
              <li><a routerLink="circulars/c10">Computerisation</a></li>
              <li><a routerLink="circulars/c11">Formats</a></li>
            </ul>
          </li>

          <li><a routerLink="electionmanuals">Election Manuals</a></li>
          <li><a routerLink="rti">RTI</a></li>
          <li><a routerLink="gallery">Gallery</a></li>
          <li><a routerLink="contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- MAIN CONTENT ALWAYS VISIBLE -->
<main class="content">
  <router-outlet></router-outlet>
</main>

<!-- FOOTER (hidden conditionally) -->
<footer *ngIf="!hideLayout()" style="
  padding: 10px;
  background-color: rgba(54, 129, 54, 0.925);
  display: flex;
  justify-content: center;">
  Copyright © 2025 Tamil Nadu State Co-operative Societies Election Commission
</footer>
