<div class="search-container">
  <input type="text" [(ngModel)]="mobileNumber" placeholder="Enter Mobile Number" class="mobile-input">
  <button (click)="searchComplaint()" class="search-btn">Search</button>
</div>

<!-- Show table only if found -->

<div *ngIf="complaintData" class="complaint-table-container">
  <table class="complaint-table">
    <tr>
      <th>Complaint Id</th>
      <td>{{ complaintData.id || 'N/A' }}</td>
    </tr>
    <tr>
      <th>Department</th>
      <td>{{ complaintData.department_id || 'N/A' }}</td>
    </tr>
    <tr>
      <th>District</th>
      <td>{{ complaintData.district_id|| 'N/A' }}</td>
    </tr>


    <tr>
      <th>Petitioner Name</th>
      <td>{{ complaintData.petitionerNameAddr || 'N/A' }}</td>
    </tr>
    <tr>
      <th>Society Name</th>
      <td>{{ complaintData.societyName || 'N/A' }}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>{{ status || 'N/A' }}</td>
    </tr>
    <tr>
      <th>Mobile</th>
      <td>{{ complaintData.mobileNumber || 'N/A' }}</td>
    </tr>
    <!--<tr><th>PDF</th><td>{{ complaintData.pdfFile || 'N/A' }}</td></tr>-->
  </table>
</div>

<!-- If not found -->

<p *ngIf="notFound" class="error-msg">No complaint found for this number.</p>