.action-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* SAME BASE STYLE FOR ALL BUTTONS */
.action-buttons button {
  width: 130px;
  height: 38px;
  border-radius: 14px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Take Action */
.action-buttons .take-btn {
  background: #28a745;
  color: #fff;
  box-shadow: 0 4px 8px rgba(40, 167, 69, 0.25);
}

/* Approved */
.action-buttons .approved-btn {
  background: #ffd6d6;
  color: #7a0000;
}

/* View */
.action-buttons .view-btn {
  background: #1673c5;
  color: #fff;
}

.mat-dialog-container {
  overflow: hidden !important;
  border-radius: 12px !important;
}

.cdk-overlay-pane {
  max-width: none !important;
}

.status-popup-panel .mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
  border-radius: 18px !important;
  max-width: 350px !important;
  width: 350px !important;
}

.status-popup-panel .cdk-overlay-pane {
  overflow: hidden !important;
}

.status-popup-panel .mat-dialog-content {
  overflow: hidden !important;
}